<!DOCTYPE HTML>
<html>
<head>
    <title>WEB application</title>
</head>
<body>
<h1>Flask web application + emoji!</h1>
</body>
<p></p>
<meta charset="utf-8">
<title>Button</title>
</body>
<body>
    <form action="/description" target="_blank">Application description:
        <button>Description</button>
    </form>    
    <p></p>
    <form action="/cat" target="_blank">Preview emojis:
        <button>Cat</button>
        <button formaction="/dog">Dog</button>
        <button formaction="/elephant">Elephant</button>
        <button formaction="/turtle">Turtle</button>
        <button formaction="/mouse">Mouse</button>
        <button formaction="/panda">Panda</button>
        <button formaction="/crocodile">Crocodile</button>
    </form>
<p></p>
<form target="_blank"> Don't know these animals, go to Google:
    <input name="q" value="Cat">
    <button formaction="//google.com/search">Google Search</button>
</form>
</body>
</html>